/* app css stylesheet */

body {
  margin: 10px;
}

.ng-scope {
  text-align : center;
}

.menu {
  list-style: none;
  margin: 1em;
  margin-bottom: 2em;
  padding: 2em;
  background-color: #fff;
  color: #333;
}

.menu > div > li > a {
  text-decoration: none;
  color: inherit;
}

.menu > div > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.menu-left {
  float: left;
  margin-left: 1em;
}

.menu-right {
  float: right;
  display: inline;
  margin-right: 1em;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}

.error {
   color: red;
}

fieldset {
   margin-right: 25px;
   padding: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#messages {
  list-style-type: none;
}

.fb-btn {
  background-color: #3a5795;
}
