<h2> Main feed </h2>

<!--article contentful-entry="'WuRr59yCycsWMc8ocaY8Q'">
	<img height="200px" width="200px" ng-src="{{ $contentfulEntry.fields.arrayUrl[0] }}">
	<h3>{{ $contentfulEntry.fields.headline }}</h3>
	<h2>{{ $contentfulEntry.fields.tagline }}</h2>   
	<p>{{ $contentfulEntry.updatedAt }}</p>
	<p>By {{ $contentfulEntry.fields.byline }}</p>
	<li ng-repeat="tag in $contentfulEntry.fields.tags">{{ tag }}</li>
</article-->

<ul contentful-entries>
	<div ng-repeat="entry in $contentfulEntries.items">
		<a href="/app/#/article">{{ entry.fields.headline }}</a><br>
		<p>{{ entry.fields.tagline }}</p>
		<p>By: {{ entry.fields.byline }}</p>
	</div>
</ul> 

<!-- Click on entry, use a href=link and angularjs routes it to the entry page -->
<!-- create angular service that removes images and videos from the contentful json response and displays it separately -->
